<div class="container__big-card">
  <div class="big-card__photo">
    <img src="../../../assets/img/dog-8378909_640.jpg" alt=""  srcset="">
  </div>

  <a href="">
    <div class="big-card__title">
      <h1><a href="#">New version of Angular is out</a></h1>
    </div>
    <div class="big-card__descripition">
      <p>
        <a href="#">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam deleniti consectetur
          explicabo quidem nesciunt incidunt, et amet.
        </a>
      </p>
    </div>
  </a>


</div>
