.container__small-card {
  width: 500px;
  margin-bottom: 30px;
}

.container__small-card-content {
  display: flex;
  flex-direction: row;
}

.small-card__photo > img {
  width: 200px;
  min-width: 200px;
  margin-right: 10px;
}

.small-card__title {
  display: flex;
  justify-content: center;
  font-size: 0.5rem;
  align-items: center;
}

.container__small-card__separator {
  margin:10px 0 15px 0;
}
