<header>
<div class="container__logo">
  <app-logo></app-logo>
</div>

<div class="container__app-menu-bar">
  <app-menu-bar></app-menu-bar>
</div>

<div class="container__buttonsLogin">
  <app-button-login
  buttonName="Sign up"
  ></app-button-login>
  <app-button-login
  buttonName="Sign in"
  ></app-button-login>
</div>

</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
    photoCover="assets/img/dog.jpg"
    cardTitle="the dog"
    cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab iste,
    odio sunt temporibus possimus placeat excepturi laborum commodi expedita error ipsa
     hic molestias unde distinctio nobis fuga. Quisquam, iste! Quasi?"
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
    photoCover="assets/img/snowman.jpg"
    cardTitle="Snowman"
    ></app-small-card>

    <app-small-card
    photoCover="assets/img/bird.jpg"
    cardTitle="Bird"
    ></app-small-card>

    <app-small-card
    photoCover="assets/img/geese.jpg"
    cardTitle="Geese"
    ></app-small-card>
  </div>
</div>
